## ANA-522 
## Week 2 Assignment
## Due: Sunday at midnight

#### Submit your work as a *.ipynb* notebook file on blackboard.
#### Please name your *.ipynb* file using the following format: Firstname_week2_assignment.ipynb

<font color=red>All code must be executed</font>

<br>

## Q1. Tuple Exercise

A tuple is one of the four inbuilt data types used to store collections in Python. Unlike other data types, the elements in tuples are ordered and immutable.

In this exercise, you'll explore the basic operations and functionalities associated with tuples. You are expected to:

+ Initialize a variable with a tuple of numeric values.
+ Understand the immutable nature of tuples by trying various operations.
+ Access, slice, and iterate through the elements in the tuple.
+ Determine the length and other characteristics of the tuple.

In [24]:
# Given a tuple:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [25]:
# a. Reverse the tuple
tuple1[::-1]

(100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

In [26]:
# b. Display the second last element of the tuple.
tuple1[len(tuple1)-2]

90

In [27]:
# c. Iterate through each element in the tuple.
for i in tuple1:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [28]:
# d. Determine and print the length of the tuple.
len(tuple1)

10

In [29]:
# e. Display elements from index 1 to index 5.
tuple1[1:6]

(20, 30, 40, 50, 60)

In [30]:
# f. Display elements from the start to the end of the tuple using a step size of 2.
tuple1[::2]

(10, 30, 50, 70, 90)

<br>

## Q2. Set Exercise

#### Set Exercise - Part 1:

Given two sets of fruits 
Perform the following tasks:

- a. Find the intersection of `set1` and `set2` (i.e., fruits that appear in both sets).
- b. Find the union of `set1` and `set2` (i.e., all unique fruits from both sets).
- c. Find the difference between `set1` and `set2` (i.e., fruits that are in `set1` but not in `set2`).
- d. Determine if `set1` is a subset of `set2`.

In [31]:
set1 = {"Apple", "Banana", "Cherry", "Date", "Fig"}
set2 = {"Cherry", "Date", "Grape", "Kiwi", "Mango"}

In [32]:
#a. Intersection
set1.intersection(set2)

{'Cherry', 'Date'}

In [33]:
#b. Union
set1.union(set2)

{'Apple', 'Banana', 'Cherry', 'Date', 'Fig', 'Grape', 'Kiwi', 'Mango'}

In [34]:
#c. Difference
set1 - set2

{'Apple', 'Banana', 'Fig'}

In [35]:
#Another way to find the difference
set1.difference(set2)

{'Apple', 'Banana', 'Fig'}

In [36]:
#d. Subset check
set1.issubset(set2)

False

#### Set Exercise - Part 2: Identify the fruits that occur more than once in the following list:

In [37]:
A = "Apple, Banana, Cherry, Apple, Apple, Grape, Cherry, Pear, Mango, Kiwi, Kiwi"

In [38]:
# I adjusted into a list B then ran a for loop to group all fruits that have multiple occurences
# Was having trouble manipulating the origianl set 'A' with a loop

In [39]:
B = ['Apple', 'Banana', 'Cherry', 'Apple', 'Apple', 'Grape', 'Cherry', 'Pear', 'Mango', 'Kiwi', 'Kiwi']

In [40]:
x = []
for fruit in B:
    if B.count(fruit) > 1:
       x.append(fruit) 
unique_B = set(x)

In [41]:
print("The following fruits are on the list more than once")
for i in unique_B:
    print(i, " is on the list ", B.count(i), "times")

The following fruits are on the list more than once
Kiwi  is on the list  2 times
Apple  is on the list  3 times
Cherry  is on the list  2 times

<br>

## Q3. List Exercise
Lists help programmers manage larger amounts of data by allowing several (or even
many) values to be stored in one variable. This makes it practical to solve larger
problems that involve many data values. You are expected to:   

+ Create a variable that holds a list of values
+ Modify a list by appending, inserting, updating and deleting elements
+ Search a list for a value
+ Display some or all of the values in a list

In [45]:
# a. Create a list named fruits 
# containing the following values: "Apple", "Banana", "Cherry", "Date", "Fig".

fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Fig']

In [46]:
# b. Append "Grape" to the fruits list.
fruits.append('Grape')
fruits

['Apple', 'Banana', 'Cherry', 'Date', 'Fig', 'Grape']

In [47]:
# c. Insert "Apricot" between "Apple" and "Banana" in the fruits list.
fruits.insert(1,'Apricot')
fruits

['Apple', 'Apricot', 'Banana', 'Cherry', 'Date', 'Fig', 'Grape']

In [49]:
# d. Update the value "Date" to "Dragonfruit" in the fruits list.
fruits[4] = 'Dragonfruit'
fruits

['Apple', 'Apricot', 'Banana', 'Cherry', 'Dragonfruit', 'Fig', 'Grape']

In [50]:
# e. Remove "Cherry" from the fruits list.
fruits.remove('Cherry')
fruits

['Apple', 'Apricot', 'Banana', 'Dragonfruit', 'Fig', 'Grape']

In [51]:
# f. Search for "Banana" in the fruits list and print its index.
fruits.index('Banana')

2

In [52]:
# g. Display the third element of the fruits list.
# The third element of the list has index of 2
fruits[2]
#if looking for the element with index of 3 then we would just call fruits[3] which woudl yield 'Dragonfruit'

'Banana'

In [53]:
# h. Display elements from index 2 to index 5 of the fruits list.
fruits[2:6]

['Banana', 'Dragonfruit', 'Fig', 'Grape']

In [54]:
# i. Display all elements of the fruits list using a step size of 2 (i.e., every other fruit).
fruits[::2]

['Apple', 'Banana', 'Fig']

In [55]:
# j. Sort the fruits list in ascending alphabetical order
fruits.sort()
fruits

['Apple', 'Apricot', 'Banana', 'Dragonfruit', 'Fig', 'Grape']

<br>

## Q4. Dictionary Exercise

Dictionary is another data structure that can be used in Python programs to manage large amount of data. While many problems can be solved with lists or conditional statements, in some occasions solutions are well suited using dictionaries. You are expected to: 

+ Create a new variable that holds a dictionary
+ Add a key-value pair to a dictionary
+ Update the value associated with a key in a dictionary
+ Iterate over all of the keys and/or values in a dictionary

a. Create a dictionary named students with the following key-value pairs:

- "Alice": 83
- "Bob": 95
- "Charlie": 78

In [56]:
# a. Create a dictionary
students = {'Alice':83, 'Bob':95, 'Charlie':78}
students

{'Alice': 83, 'Bob': 95, 'Charlie': 78}

In [57]:
# b. Add another student "David" with a score of 91 to the students dictionary.
students['David'] = 91
students

{'Alice': 83, 'Bob': 95, 'Charlie': 78, 'David': 91}

In [58]:
# c. Update Bob's score to 93 in the students dictionary.
students['Bob'] = 93
students

{'Alice': 83, 'Bob': 93, 'Charlie': 78, 'David': 91}

In [59]:
# d. Using a loop, 
# iterate over the students dictionary and print each student's name and their score.
print('Name', 'Grade')
for key in students:
    print(key,students[key])

Name Grade
Alice 83
Bob 93
Charlie 78
David 91

In [60]:
# e. Using a loop, print only the names of students who scored more than 85.
print('Name of students who scored greater than an 85')
for key in students:
    if (students[key]>85):
        print(key)

Name of students who scored greater than an 85
Bob
David

<br>

## Q5. Function Exercise

Part 1: Function Exercise

Functions are a cornerstone in programming, allowing for code reuse, modular design, and clearer code. In this exercise, you will:

- Define functions and call them to perform tasks.
- Use conditionals within functions to make decisions.
- Test the functionality of your functions with various inputs.

In [61]:
# a. Define a function named add that takes two parameters and returns their sum.
# After defining the function, test it with two numbers of your choice.
def add (x, y):
    sum = x+y
    return sum

add(3, 21)

24

In [62]:
# b. Define a function named subtract 
# that takes two parameters and returns the result of subtracting the second from the first.
# After defining the function, test it with two numbers of your choice.
def subtract (x, y):
    dif = x-y
    return dif

subtract(34, 50)

-16

In [63]:
# c. Define a function named larger_number that takes two parameters. 
# This function should return the larger of the two numbers. 
# If the numbers are equal, it should return the string "Both numbers are equal."
def larger_number (x, y):
    if x > y:
        return x
    elif x < y:
        return y
    else:
        return "Both numbers are equal"

In [64]:
# d. Call the larger_number function with various pairs of numbers. Print the results.

In [65]:
larger_number(9, 4)

9

In [66]:
larger_number(17, 42)

42

In [67]:
larger_number(1,1)

'Both numbers are equal'

In [68]:
# e. Define a function named is_even that checks if a number is even. 
# If the number is even, it should return True, otherwise, it should return False.
def is_even (x):
    if x%2 == 0:
        return True
    else:
        return False

In [69]:
# f. Test the is_even function with different numbers and print the results.

In [70]:
is_even(4)

True

In [71]:
is_even(77)

False

##### Part 2: Lambda Exercise

Lambda functions provide a way to create small, anonymous functions for quick tasks. They are particularly useful when a short function is needed temporarily, without needing a full function declaration.

In [72]:
# a. Define a lambda function named multiply 
# that takes two parameters and returns their product.

multiply = lambda x,y: x * y

product = multiply(5,7)
product

35

In [73]:
# b. Define another lambda function named divide 
# that takes two parameters and returns the result of dividing the first by the second.

divide = lambda x,y: x / y

quotient = divide(135,5)
quotient

27.0

In [74]:
# c. Create a list of numbers: nums = [1, 2, 3, 4, 5]. 
# Use a lambda function with the sorted() function and a lambda to sort the nums list in descending order.

numbers = [1, 2, 3, 4, 5]
descending = sorted(numbers, key=lambda x : x, reverse = True)
descending

[5, 4, 3, 2, 1]

<br>

## <font color=RED>The questions below are optional. If you wish to engage in additional practice, you are welcome to attempt them. However, not completing these optional questions will not result in any loss of points for this assignment. </font>

## Optional Exercise 1: Below and Above Average

Write a program that read a number N from the user. Let the program generate N random values. Afterwards, your program should display the average of all of the random values generated. Then the program should display all of the above average values, followed by all of the average values (if any), followed by all of the below average values. An output of a running example:  
<pre>
Please input the total number of random values:25

There are 13 numbers above the average of 51.24 :
[62, 62, 63, 94, 95, 70, 65, 74, 83, 93, 97, 56, 56]

There are 0 numbers equal to the average of 51.24 :
[]

There are 12 numbers below the average of 51.24 :
[40, 1, 16, 12, 39, 32, 17, 50, 0, 5, 49, 50]
</pre>

> To generate random numbers use module random, then invoke one of the methods in the following :  
  import random  
  random.random()  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        # Random float:  0.0 <= x < 1.0  
  random.randrange(10)    &nbsp;&nbsp; # Integer from 0 to 9 inclusive   
  random.randint(1,10)    &nbsp;&nbsp;&nbsp;&nbsp; # Integer from 1 to 10 inclusive  
  See methods available in Python random module at https://www.w3schools.com/python/module_random.asp

In [2]:

userIn = int(input("Please input the total number of random values: "))

Please input the total number of random values: 20

In [3]:
import random
listRand = []
i = 0
while i < userIn:
    listRand.append(random.randrange(100))
    i+=1
listRand

[93, 83, 21, 6, 54, 31, 50, 74, 32, 42, 76, 25, 77, 71, 75, 34, 7, 52, 64, 46]

In [4]:
listAvg = sum(listRand)/len(listRand)
listAvg

listAbove = []
for w in listRand:
    if w > listAvg:
        listAbove.append(w)
lengthA = len(listAbove)
print("There are ", lengthA, " numbers above to the average of ", listAvg )
listAbove

There are  10  numbers above to the average of  50.65

[93, 83, 54, 74, 76, 77, 71, 75, 52, 64]

In [5]:
listEqual = []
for x in listRand:
    if x == listAvg:
        listEqual.append(x)
lengthE = len(listEqual)
print("There are ", lengthE, " numbers equal to the average of ", listAvg )
listEqual

There are  0  numbers equal to the average of  50.65

[]

In [6]:

listBelow = []
for y in listRand:
    if y < listAvg:
        listBelow.append(y)
lengthB = len(listBelow)
print("There are ", lengthB, " numbers below to the average of ", listAvg )
listBelow

There are  10  numbers below to the average of  50.65

[21, 6, 31, 50, 32, 42, 25, 34, 7, 46]

## Optional Exercise 2: Random Lottery Numbers

In order to win the top prize in a particular lottery, one must match all 6 numbers
on his or her ticket to the 6 numbers between 1 and 49 that are drawn by the lottery
organizer. Write a program that generates a random selection of 6 numbers for a lottery ticket. Ensure that the 6 numbers selected do not contain any duplicates.
Display the numbers in ascending order.

> To generate random numbers use module random, then invoke one of the methods in the following :  
  import random  
  random.random()  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        # Random float:  0.0 <= x < 1.0  
  random.randrange(10)    &nbsp;&nbsp; # Integer from 0 to 9 inclusive   
  random.randint(1,10)    &nbsp;&nbsp;&nbsp;&nbsp; # Integer from 1 to 10 inclusive  
  See methods available in Python random module at https://www.w3schools.com/python/module_random.asp

In [94]:
import random
array = []

In [95]:
while (len(array)!=6):
    random_number = random.randint(1,49)
    if(random_number not in array):
        array.append(random_number)
array.sort()
print("Lottery Numbers are:", array)

Lottery Numbers are: [15, 16, 20, 40, 43, 44]

<br>

### Function with List Exercise



## Optional Exercise 3 : Remove Outliers

When analysing data collected as part of a science experiment it may be desirable to remove the most extreme values before performing other calculations.  

Write a function that takes a list of values and a non-negative integer, N, as its parameters. The function should create a new copy of the list with both the n largest elements and the n smallest elements removed. Then it should return the new copy of the list as the sole function’s result as return. The order of the elements in the returned list does not have to match the order of the elements in the original list.

To demonstrate the function you created in the program, call the function with a list of randomly generated numbers, that the function would remove the two largest and two smallest values from it, and return an updated new copy. Display the new copy of the list with the outliers removed, followed by the original list. Your program should generate an appropriate error message if the user enters less than 4 values in the case of N is 2. See the examples:  
<pre>
(Scenario 01)
Please input the total number of random values:10
New list: [37, 39, 39, 51, 52, 55]
Old list: [39, 52, 98, 55, 51, 39, 37, 12, 36, 56]

(Scenario 02)
Please input the total number of random values:3
Old list: [94, 26, 53]
You do not have enought values (must be more than 3.

(Scenario 03)
Please input the total number of random values:4
New list: []
Old list: [80, 13, 74, 87]
</pre>

In [96]:
def remove_outliers(dataList):
    list = []
    for i in dataList:
        list.append(i)
    list.sort()
    #Now that we have a sorted list of values we want to get rid of the first smallest/largest two numbers and empty break value
    return list[3:-2]

In [97]:
def input_Output():
    list1 = []
    while(True):    #while there is an input numbers will be asked for
        userIn = input("Enter an integer here (leave blank to finish list): ")   #getting user input
        list1.append(userIn)
        if(userIn == ""):   #if left blank then list is complete
            break
    if len(list1) < 4:
        print("List is not long enough, needs to consists of at least 4 values")
    else:
        #As list is of length we want to get rid if outliers with function
        list_Removed = remove_outliers(list1)
        print("List with no outliers: ", list_Removed)
        print("Original list: ", list1)

In [98]:
input_Output()

Enter an integer here (leave blank to finish list): 54
Enter an integer here (leave blank to finish list): 65
Enter an integer here (leave blank to finish list): 76
Enter an integer here (leave blank to finish list): 89
Enter an integer here (leave blank to finish list): 07
Enter an integer here (leave blank to finish list): 46
Enter an integer here (leave blank to finish list): 7
Enter an integer here (leave blank to finish list):
List with no outliers:  ['54', '65', '7']
Original list:  ['54', '65', '76', '89', '07', '46', '7', '']

## Optional Exercise 4: Is a List already in Sorted Order?

Write a function that determines whether or not a list of values is in sorted order
(either ascending or descending). The function should return True if the list is
already sorted. Otherwise it should return False. Write a main program that reads
a list of numbers from the user and then uses your function to report whether or not
the list is sorted.

>One solution idea to check whether a list of values are in a correct order is to check all pairs of neighboring values on the list to see if all pairs are in correct order. As soon as there is one pair on the list has the incorrect order, then it's time to conclude that the whole list is not in correct order. Otherwise, all numbers on the list are in their correct order. Also make sure you consider these questions when completing this exercise: Is an empty list in sorted order? What about a list contains only one element?   

Some examples:   
<pre>
(Scenario I)
Input the next number:1
Input the next number:2
Input the next number:3
Input the next number:4
Input the next number:5
[1, 2, 3, 4, 5]
This list is sorted.

(Scenario II)
Input the next number:1
Input the next number:2
Input the next number:3
Input the next number:5
Input the next number:4
[1, 2, 3, 5, 4]
This list is NOT sorted.

(Scenario III)
Input the next number:5
Input the next number:4
Input the next number:3
Input the next number:2
Input the next number:1
[5, 4, 3, 2, 1]
This list is sorted.

(Scenario IV)
[]
This list is sorted.

(Scenario V)
Input the next number:9
[9]
This list is sorted.
</pre>

## Optional Exercise 5: Reverse Lookup

Write a function named reverseLookup that finds all of the keys in a dictionary
that map to a specific value. The function will take the dictionary and the value to
search for as its only parameters. It will return a (possibly empty) list of keys from
the dictionary that map to the provided value.   

Include additional statements that demonstrates the reverseLookup function as part
of your solution to this exercise.    

Your program can create a dictionary or use the dictionary included and then
show that the reverseLookup function works correctly when it returns multiple
keys, a single key, and no keys.   

<pre>data = { 'A': 3,
         'B': 7,
         'C': 8,
         'D': 8,
         'E': 7,
         'F': 3,
         'G': 2,
         'H': 3,
         'I': 8,
         'J': 3  
}
</pre>
The output from the given dictionary:   
<pre>
Keys for value 2 ['G']
Keys for value 3 ['A', 'F', 'H', 'J']
Keys for value 5 []
Keys for value 7 ['B', 'E']
Keys for value 8 ['C', 'D', 'I']
</pre>

In [1]:
# Reverse Lookup

data = { 'A': 3,
         'B': 7,
         'C': 8,
         'D': 8,
         'E': 7,
         'F': 3,
         'G': 2,
         'H': 3,
         'I': 8,
         'J': 3  
}



## Optional Exercise 6 : Two Dice Simulation

In this exercise you will simulate 1,000 rolls of two dice. Begin by writing a func-
tion that simulates rolling a pair of six-sided dice. Your function will not take any
parameters. It will return the total that was rolled on two dice as its only result.
Write the main program that uses your function to simulate rolling two six-sided
dice 1,000 times.   

As your program runs, it should count the number of times that each
total occurs. Then it should display a table that summarizes this data. Express the
frequency for each total as a percentage of the total number of rolls. Your program
should also display the percentage expected by probability theory for each total.
Sample output is shown below.  

<img src="http://mathqs.mcdaniel.edu/ANA522/mod01/img/DiceSimulation.png" width="300" alt="If the image does not show use: http://mathqs.mcdaniel.edu/ANA522/mod01/img/DiceSimulation.png">

In [132]:
def twoDice():
    #Function for rolling two dice and summing the values
    rollOne = random.randint(1,6)
    rollTwo = random.randint(1,6)
    return rollOne + rollTwo

def tableValues():
    #Create a dictionary of values for totals
    totDict = {2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0}
    
    #roll the dice 1000 times, adjust values in dictionary to sum occurences
    for i in range(1000):
        twoDiceSum = twoDice()
        totDict[twoDiceSum] += 1
        i += 1
    # Set the top of the table
    print("Total\tSimulated Percent\tExpected Percent")
    print("------------------------------------------------")
    # 
    for total in range(2,13):
        simulatedPercent = str("%.2f"%(totDict[total]/1000*100))
        if total <= 7:
            expectedPercent = str("%.2f"%((total-1)/36*100))
        else:
            expectedPercent = str("%.2f"%((12-total+1)/36*100))
        print(str(total).rjust(4),"|",simulatedPercent.rjust(17),"|",expectedPercent.rjust(20),"|")
tableValues()

Total	Simulated Percent	Expected Percent
------------------------------------------------
   2 |              2.20 |                 2.78 |
   3 |              5.70 |                 5.56 |
   4 |              9.10 |                 8.33 |
   5 |             11.00 |                11.11 |
   6 |             14.00 |                13.89 |
   7 |             16.30 |                16.67 |
   8 |             14.60 |                13.89 |
   9 |             11.10 |                11.11 |
  10 |              8.30 |                 8.33 |
  11 |              5.40 |                 5.56 |
  12 |              2.30 |                 2.78 |

for total in range(2, 13):
        occurrences = totals.get(total, 0)
        simulated_percent = (occurrences / rolls) * 100
        print(f"{total}\t{occurrences}\t\t{simulated_percent:.2f}%")

## Optional Exercise 7 : Write Out Numbers in English

While the popularity of cheques as a payment method has diminished in recent years,
some companies still issue them to pay employees or vendors. The amount being
paid normally appears on a cheque twice, with one occurrence written using digits,
and the other occurrence written using English words. Repeating the amount in two
different forms makes it much more difficult for an unscrupulous employee or vendor
to modify the amount on the cheque before depositing it.   

In this exercise, your task is to create a function that takes an integer between 0 and
999 as its only parameter, and returns a string containing the English words for that
number. For example, if the parameter to the function is 142 then your function should
return “one hundred forty two”. Use one or more dictionaries to implement
your solution rather than large if/elif/else constructs. Include a main program that
reads an integer from the user and displays its value in English words. See example outputs:  

<pre>
123 :  One Hundred Twenty Three
812 :  Eight Hundreds Twelve
802 :  Eight Hundreds and Two
 14 :   Fourteen
 67 :   Sixty Seven
  9 :   Nine
</pre>

## Optional Exercise 8: The Sieve of Eratosthenes

The Sieve of Eratosthenes is a technique that was developed more than 2,000 years ago to easily find all of the prime numbers between 2 and some limit, say 100. A description of the algorithm follows:  
  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Write down all of the numbers from 0 to the limit  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cross out 0 and 1 because they are not prime  
   
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Set p equal to 2  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  While p is less than the limit do  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cross out all multiples of p (but not p itself)  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Set p equal to the next number in the list that is not crossed out   
   
Report all of the numbers that have not been crossed out as prime   
   
The key to this algorithm is that it is relatively easy to cross out every nth number on a piece of paper. This is also an easy task for a computer—a for loop can simulate this behavior when a third parameter is provided to the range function. When a number is crossed out, we knowthat it is no longer prime, but it still occupies space on the piece of paper, and must still be considered when computing later prime numbers.  

As a result, you should not simulate crossing out a number by removing it from the
list. Instead, you should simulate crossing out a number by replacing it with 0. Then,
once the algorithm completes, all of the non-zero values in the list are prime.   
    
Read the Python program in the following that uses this algorithm to display all of the prime
numbers between 2 and a limit,say 1000.

## (a) Use list comprehension to remove zeros on the list, so that the list becomes :
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

## (b) Create a function that would return how many prime numbers are there in the range of [a,b]. The program should ask user for the values of a and b, the printout the answers.
For example:
<pre>
Please give value a: 
30
Please give value b: 
50
There are 5 prime numbers in between 30 and 50. 

Please give value a: 
130
Please give value b: 
150
There are 4 prime numbers in between 130 and 150.